#sidebar {
    width: 250px;
    background: #00274C;
    color: #fff;
    padding: 20px;
}

.sidebar-header {
    padding: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
}

ul li a {
    color: #fff;
    text-decoration: none;
}
